.expContainer{
     display: flex;
     justify-content: space-around;
     width: 100%;
     padding: 70px 0 70px 0;
}

.expContainer img{
     width: 38vw;
     height: auto;
}


.content {
     width: 30%;
     height: fit-content;
     font-size: 1vw;
     line-height: 1.5;
     text-align: justify;
     background-color: #0A131A;
     border-radius: 18px;
     color: white;
     padding: 20px 50px 0px 50px;
     box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.28);
}

.content h3{
     font-size: 1.1vw;
     margin-bottom: 10px;
}

.darked {
     background-color: rgba(0,0,0,0.1);
     flex-direction: row-reverse;
}

article {
     margin-bottom: 30px;
}