footer{
     width: 50px;
     position: fixed;
     bottom: 0;
     left: 0;
     background-color: #BFE2FE;
     /* background-color: #0A1319; */
     padding: 10px 5px 10px 5px;
     border-radius: 2px;
     box-shadow: -1px 0 4px 1px rgba(0,0,0,.3);
}

footer h3{
     text-align: center;
}

footer a{
     position: relative;
     width: 40px;
     left: calc(50% - 20px);
     margin: 5px 0 5px 0;
     transition: transform 500ms ease-out;
}

footer svg{
     width: 40px;
}

footer svg:hover{
     transform: scale(1.1);
}

