.imagesContainer {
     width: 80%;
     left: 10%;
     position: relative;

     background-color: rgba(255, 255, 255, 0.4);
     box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
     border-radius: 10px;
     padding: 50px;

}
.categoryContainer {
     flex-wrap: wrap;
     display: flex;
     gap: 50px;
     left: 50px;
     position: relative;
     width: fit-content;
     margin-bottom: 75px;
}

.card{
     width: 400px;
     margin-bottom: 20px;
     margin-top: 20px;
     box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
     border-radius: 5px;
     display: flex;
     flex-flow: column;
     background-color: #121f30;
     color: white;
     transition: transform 300ms ease-out;
}

.card:hover {
     transform: translateY(100px) scale(1.3);
}

.imagesContainer img{
     width: 100%;
     border-radius: 5px 5px 0 0;
}

.card .text{
     padding: 10px 10px 0 10px;
     text-align: justify;
}

.card .text > * {
     margin-bottom: 5px;
}
