.imagesContainer {
     width: 80%;

     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     
     position: relative;
     left: 10%;
}

.card{
     width: 400px;
     margin-bottom: 20px;
     margin-top: 20px;
     box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.7);
     border-radius: 5px;
     display: flex;
     flex-flow: column;
     background-color: #121f30;
     color: white;
}

.imagesContainer img{
     width: 100%;
}

.card .text{
     padding: 10px 10px 0 10px;
}

.card .text > * {
     margin-bottom: 5px;
}
